body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  padding: 30px;
}
.col-md-3{
  margin: 7px;
  height: 220px;
  width:220px;
  padding-left: 30px;
}
.card-img-top{
padding: 30px;
  width: 280px;
  height: 220px;
}

.header{
margin-left: 47rem;
}
.inputClass{
  height: 3.4rem;
  margin-left: 33rem;
  margin-top: 2rem;
  width: 42rem;
  }
  .btn4{
    background-color: black;
    color: white;
    font-size: 2rem;
    margin-left: 4px;
  }
.buttons{
  
  width:42rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 35rem;
}
.active-button{
  background-color:grey;
  color: white;
  width: 100px;
}
.Inactive-button{
  width: 100px;
  background-color:black;
  color: white;
}
@media screen and (max-width: 400px){
  .header{
    color:black;
    font-size: 28px;
    margin-left:110px;
  }
  .inputClass{
    width:280px;
    height: 25px;
    margin-left: 30px;

  }
  .buttons{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    margin-left: 1rem;  
  }
  .btn4{
    font-size: 5px;
    margin-top: 1px;
    background-color: black;
    color: white;
  }
  
  /* .card-img-top{
    padding: 50px;
    
    height: 50px;
    width:50px;
    margin: 20px;
  } */
  .col-md-3{
    margin-top: 0px;
  }
}



